In [20]:
import pandas as pd
import numpy as np
from scipy import stats

In [21]:
df = pd.read_csv("food_consumption.csv")

In [22]:
df.head(10)

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96
5           6  Argentina          eggs        11.39         10.46
6           7  Argentina         dairy       195.08        277.87
7           8  Argentina         wheat       103.11         19.66
8           9  Argentina          rice         8.77         11.22
9          10  Argentina      soybeans         0.00          0.00

In [23]:
df.drop('Unnamed: 0', axis= 1, inplace=True)

In [24]:
df

         country food_category  consumption  co2_emission
0      Argentina          pork        10.51         37.20
1      Argentina       poultry        38.66         41.53
2      Argentina          beef        55.48       1712.00
3      Argentina     lamb_goat         1.56         54.63
4      Argentina          fish         4.36          6.96
...          ...           ...          ...           ...
1425  Bangladesh         dairy        21.91         31.21
1426  Bangladesh         wheat        17.47          3.33
1427  Bangladesh          rice       171.73        219.76
1428  Bangladesh      soybeans         0.61          0.27
1429  Bangladesh          nuts         0.72          1.27

[1430 rows x 4 columns]

In [25]:
df.isna().value_counts()

country  food_category  consumption  co2_emission
False    False          False        False           1430
Name: count, dtype: int64

In [26]:
arg_beef = df[(df["country"] =="Argentina") & (df["food_category"] == 'beef')]

In [27]:
arg_beef

     country food_category  consumption  co2_emission
2  Argentina          beef        55.48        1712.0

In [28]:
arg_consumption = arg_beef['consumption']

In [29]:
print(f"Argentina Beef Consumption: {arg_consumption}")

Argentina Beef Consumption: 2    55.48
Name: consumption, dtype: float64

In [30]:
bang_beef = df[(df["country"] == "Bangladesh") & (df["food_category"] == "beef")]

In [31]:
bang_beef

         country food_category  consumption  co2_emission
1421  Bangladesh          beef         1.28          39.5

In [32]:
bang_consumption = bang_beef["consumption"]

In [36]:
bang_consumption_mean = bang_consumption.mean()
bang_consumption_mean

np.float64(1.28)

In [37]:
print(f"Bangladesh Beef Consumption: {bang_consumption_mean}")

Bangladesh Beef Consumption: 1.28

In [38]:
rg_bang_beef_consumption = np.random.normal(loc=bang_consumption_mean, scale=5,size=30)

In [39]:
rg_bang_beef_consumption

array([ 3.8806656 ,  0.48601824,  3.16176962, -1.79714214,  7.21704112,
       -4.10022416,  3.32715945, -0.72762742,  4.69152974, -5.89956217,
       -0.59911584,  0.54933534, 10.479841  , -4.7715679 , 10.34061122,
        3.55819135,  2.64620502,  3.43045644,  9.37078756, -2.88251071,
        1.8554535 , -3.956793  ,  4.00465478, -4.9837518 , -2.93768415,
        3.76886243,  0.1823687 , -0.60705988,  2.00154182,  4.09380436])

In [40]:
t_stat, p_val = stats.ttest_1samp(rg_bang_beef_consumption, 3)

In [41]:
print(f"T-statistic:", t_stat)

T-statistic: -1.8246312288771875

In [35]:
print("T- statistic:", t_stat)
print("P-value:", p_val)

T- statistic: nan
P-value: nan